.navbar-nav { 
    margin-left: auto; 
}

@media screen and (max-width: 768px){
      img{
          width:150px;
      }
    }

.centre {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 10px;
    background-color:#f8f9fa;
  }
h2{
    text-align:center;
  }